.nav__list {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0px;
  }
}

.nav__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
}

.nav__link:hover {
 color: #f89513; 
}


