.user-info {
  display:flex;
  align-items: flex-start;

}

.user-info__desc {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  line-height: 1.67;
  opacity: 0.4;

  margin-right: 60px;
}

.user-info__username {
  font-size: 72px;
  font-weight: 800;
  line-height: 0.95;
  max-width: 400px;
}