.works {
  min-height: 1085px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.works__container {
  color: #333c49;
}

.works__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 92px;
}