script(type="text/x-template")#reviews-container
  .reviews__box
    h2.reviews__title Что обо мне говорят
    .reviews__slider
      .reviews__btn
        button(type="button" @click="previous()").arrow-btn.arrow-btn--prev
          +icon("arrow-down", "arrow__icon arrow__icon--prev")
        button(type="button" @click="next()").arrow-btn.arrow-btn--next
          +icon("arrow-down", "arrow__icon arrow__icon--next")
    flickity(ref="flickity" :options="flickityOptions").reviews__desc
      .carousel-cell(v-for="review in reviews")
        .review
          p.reviews__message {{review.message}}
          .reviews__author 
            .reviews__avatar
              img(:src="review.author_avatar" class="reviews__avatar-pic")
            .reviews__author-info 
              h4.reviews__author-title {{review.author_title}}
              span.reviews__author-desc {{review.author_desc}}
      